.form_container{
    margin: 20px;

}
.form_container h5{
    margin-bottom: 10px;
}
.form_container .form{
    width: 100%;
    height: 150px;
    border-radius: 16px;
    padding:15px;
    margin-bottom: 10px;
    outline: none;
    border:1px solid #B1B1B1;
}