.enquiry_list{
    margin-top:30px;
    padding-bottom: 30px;
}
.enquiry_item{
    margin-bottom: 40px;
}
.enquiry_item .enquiry_nickname{
    margin-bottom: 7px;
    color:#0A3C48;
}

.enquiry_item .content{
    display: flex;
    justify-content: space-between;
}
.enquiry_item .content .trash{
    margin-left: 7px;
}