.box{
    max-width: 500px;
    margin: 30px auto 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.box .logo{
    width:150px;
    height: auto;
    margin-bottom: 20px;
}

.box .swiper-container {
    width: 400px;
}
.box .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
}
