.box{
    max-width: 500px;
    margin: 30px auto 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.box .logo{
    width:150px;
    height: auto;
    margin-bottom: 20px;
}

.box .swiper-container {
    width: 400px;
}
.box .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
}

.content{
    margin-top:50px;
    padding-bottom: 70px;
}

.content .group{
    margin-bottom: 50px;
}
.content .group .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}