.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.box .input_wrap{
    margin-top: 20px;
    position: relative;
}
.box .input_wrap span{
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
    height:18px;
    cursor: pointer;
}
.box .search_result{
    margin-top: 30px;
    padding-bottom: 100px;
}
.box .search_result .count{
    margin-bottom: 30px;
    text-align: center;
}