.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.box ul{
    height:100vh;
}
.no_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}
.enquiry_list{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}
.enquiry_list .left{
    display: flex;
    align-items: center;
}
.enquiry_list .left .img{
    width:35px;
    height:35px;
    margin-right: 10px;
}
.enquiry_list .left .img img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.enquiry_list .left .content{
    font-size: 12px;
    color:#7c7c7c;
    margin-top: 5px;
}

.enquiry_list .right .button{
    display: flex;
}
.enquiry_list .right .button div{
    cursor: pointer;
}
.enquiry_list .right .button div:nth-of-type(1){
    margin-right: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
}
.modal_content h3, .modal_content h5{
    margin-bottom: 15px;
}
.modal_content textarea{
    width:300px;
    height:200px;
    border-radius: 20px;
    border:1px solid #d9d9d9;
    padding:10px;
    outline: none;
    margin-bottom: 20px;
}
.modal_content .buttons{
    display: flex;
}
.modal_content .buttons button:nth-of-type(1){
    margin-right: 5px;
}