.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.box ul{
    height:100%;
}
.no_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height:100%;
    justify-content: center;
}
.no_list p{
    margin-bottom: 30px;
}
.order_date{
    position: relative;
    width: 100%;
    height:30px;
    line-height: 30px;
    /*text-align: center;*/
    border-bottom: 1px solid #F4F4F4;
}
.order_date .date{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.order_date .order_cancel{
    position: absolute;
    left: 5%;
}
.order_date .order_status{
    position: absolute;
    right:5%;
}
.status_before{
    color:red;
}
.status_completed{
    color:blue;
}
.status_canceled{
    color:red;
    text-decoration: line-through;
}
/* 전체 orderList 중 마지막 주문의 마지막 .order_list 스타일 적용 */
.order_date:last-of-type(1) .order_list:last-of-type(1) {
    padding-bottom: 50px;
    border: none;
}

.order_list{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}
.order_list .left{
    display: flex;
    align-items: center;
}

.order_list .img{
    width:100px;
    margin-right: 20px;
}
.order_list .img img{
    width:100%;
}
.order_list p{
    font-size: 14px;
}
.order_list .farm_name{
    color:#7c7c7c;
    margin-bottom: 10px;
}
.order_list .product_name{
    margin-bottom: 20px;
}
.order_list .price{
    margin-bottom: 30px;
}
.order_list .total_price{
    color:rgb(148, 192, 21);
}

.order_list .review{
    margin-bottom: 45px;
    color:rgb(148, 192, 21);
    cursor: pointer;
}
.order_list .quantity{
    text-align: right;
}