.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.no_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.review_list{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}
.review_list .left{
    display: flex;
    align-items: center;
}
.review_list .left .img{
    width:35px;
    height:35px;
    margin-right: 10px;
}
.review_list .left .img img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.review_list .left .comment{
    font-size: 12px;
    color:#7c7c7c;
    margin-top: 5px;
}
.review_list .right .stars{
    color:#FFC42B;
}
.review_list .right .button{
    display: flex;
    float: right;
}
.review_list .right .button div{
    cursor: pointer;
}
.review_list .right .button div:nth-of-type(1){
    margin-right: 15px;
}