.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.box .form{
    margin-top: 20px;
}

.content_wrapper{
    margin-bottom: 30px;
}
.content_wrapper h3{
    margin-bottom: 15px;
}
.content_wrapper div span{
    vertical-align: middle;
    font-size:17px;
    margin-right:10px;
    color:#7c7c7c;
}
.content_wrapper div [type="radio"]{
    vertical-align: middle;
    appearance: none;
    background:#d9d9d9;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right:5px;
}
.content_wrapper div [type="radio"]:checked{
    background: #94C015;
}
.content_wrapper .location_title{
    display: flex;
    align-items: center;
}
.content_wrapper input[name = "deliveryAddress"]{
    margin-bottom: 10px;
}
.box .form button{
    margin-bottom: 10px;
}