.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.box .form{
    margin-top: 20px;
    padding-bottom: 60px;
}

.content_wrapper{
    margin-bottom: 30px;
}
.content_wrapper h3{
    margin-bottom: 15px;
}
.content_wrapper p{
    font-size:12px;
    color:#999999;
    margin: -10px 0 10px;
}
.content_wrapper .location_title,
.content_wrapper .location{
    display: flex;
    align-items: center;
}
.content_wrapper .location input:nth-of-type(1){
    margin-right: 10px;
}
.content_wrapper .location,
.content_wrapper input[name = "locationFull"]{
    margin-bottom: 10px;
}
.content_wrapper div span{
    vertical-align: middle;
    font-size:17px;
    margin-right:10px;
    color:#7c7c7c;
}
.content_wrapper div [type="radio"]{
    vertical-align: middle;
    appearance: none;
    background:#d9d9d9;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right:5px;
}
.content_wrapper div [type="radio"]:checked{
    background: #94C015;
}
.content_wrapper select{
    background:#F0F0F0;
    border-radius: 18px;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    outline: none;
    border: none;
}
.content_wrapper textarea{
    background:#F0F0F0;
    border-radius: 18px;
    padding-left: 20px;
    padding-top: 15px;
    width:100%;
    outline: none;
    border: none;
}
.content_wrapper .image_wrapper{
    width:100%;
}
.content_wrapper .file_label{
    margin: 30px 0;
    background-color: #94C015;
    color: #fff;
    text-align: center;
    font-size:13px;
    padding: 7px 20px;
    width: 60%;
    border-radius: 13px;
    cursor: pointer;
}
.content_wrapper .file{
    display: none;
}
.content_wrapper .image_container{
    display: flex; /* 요소들이 가로로 나열되도록 합니다 */
    width:500px;
    flex-wrap: nowrap;
    overflow-x: scroll; /* 가로 스크롤을 가능하게 합니다 */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* 스크롤을 부드럽게 합니다 (모바일 장치용) */
}
.content_wrapper .my_image{
    margin-right: 15px;
    position: relative;
}
.content_wrapper .my_image img{
    margin-top: 30px;
    height:200px;
}
.content_wrapper .my_image .remove_image{
    cursor: pointer;
    position: absolute;
    top:17%;
    right:10px;
}


.content_wrapper .image_container::-webkit-scrollbar {
    height: 8px; /* 가로 스크롤바의 높이를 설정 */
}

.content_wrapper .image_container::-webkit-scrollbar-thumb {
    background: #d9d9d9; /* 스크롤바의 색상을 설정 */
    border-radius: 10px; /* 스크롤바 모서리를 둥글게 설정 */
}

.content_wrapper .image_container::-webkit-scrollbar-thumb:hover {
    background: #555; /* 스크롤바를 마우스로 오버했을 때의 색상을 설정 */
}