.box{
    max-width: 500px;
    margin:0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.box .form{
    margin-top: 20px;
    padding-bottom: 60px;
}